WebApplicationOrders/Service References/ServiceReference/WcfDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetOrdersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetOrdersDTO" nillable="true" type="tns:GetOrdersDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetOrdersDTO" nillable="true" type="tns:ArrayOfGetOrdersDTO" />
  <xs:complexType name="GetOrdersDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalUnits" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrdersDTO" nillable="true" type="tns:GetOrdersDTO" />
</xs:schema>